<h1>Welcome</h1>

<div data-controller="hello">
  <input data-hello-target="name" type="text">

  <button data-action="click->hello#greet">
    Greet
  </button>

  <span data-hello-target="output">
  </span>
</div>


<h1>Task Management Application Challenge</h1>

<h2>Objective:</h2>
<p>Create a basic task management web application using Ruby on Rails.</p>

<h3>Features to Include:</h3>
<ul>
    <li><strong>User Authentication:</strong> Implement user sign up, login, and logout functionality.</li>
    <li><strong>Task CRUD Operations:</strong> Users should be able to create, read, update, and delete tasks.</li>
    <li><strong>Task Status:</strong> Each task should have a status (e.g., pending, completed).</li>
    <li><strong>Task Comments:</strong> Users should be able to add comments to tasks for discussion or clarification.</li>
</ul>

<h3>Bonus Features (Optional):</h3>
<ul>
    <li><strong>Task Filtering and Sorting:</strong> Users should be able to filter and sort tasks based on categories, status, due date, etc.</li>
</ul>

<h3>Instructions:</h3>
<ul>
    <li>Fork the project</li>
    <li>Use Ruby on Rails framework to develop the application.</li>
    <li>Utilize basic MVC (Model-View-Controller) architecture.</li>
    <li>Focus on functionality over complexity.</li>
    <li>Keep the design simple and minimalistic.</li>
</ul>

<h3>Evaluation Criteria:</h3>
<ul>
    <li><strong>Functionality:</strong> Does the application fulfill the specified features and requirements?</li>
    <li><strong>Code Quality:</strong> Is the code well-organized and readable?</li>
    <li><strong>User Experience:</strong> Is the interface simple and easy to use?</li>
</ul>

